<?xml version="1.0"?>
<robot name="box">
  <link name="box">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size=".05 .05 .05"/>
      </geometry>
       <material name="red">
        <color rgba="0.9 0 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size=".05 .05 .05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.087"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>
